<a href="https://colab.research.google.com/github/Whaleman0423/Tibame_machine_learning0922/blob/main/tibame%E6%A9%9F%E5%99%A8%E5%AD%B8%E7%BF%920922%E4%B8%8A%E5%8D%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##latex語法
### H1
#### H2

$ c = \frac {1}{a + b + \pi} \times {d} $

### 上午場

# classification

In [ ]:
import tensorflow.keras
import pandas as pd
import matplotlib
import seaborn

from sklearn.datasets import load_iris

In [ ]:
load_iris() # 字典格式
# 'data':陣列 'feature_names':清單

In [ ]:
# https://scikit-learn.org/stable/datasets/toy_dataset.html
from sklearn.datasets import load_iris
iris = load_iris() # 字典 
# sepal 花萼 petal 花瓣
# 'target_names' 花的種類 
pd.DataFrame(iris["data"], columns=iris['feature_names'])  # pd.DataFrame(陣列, columns=[]#清單)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [ ]:
df = pd.DataFrame(iris['data'], columns=iris['feature_names'])  # DataFrame
print(type([1,2,3]))
print(type(df))
type(df)

In [ ]:
df["sepal length (cm)"]  # 降維度 降成 Series
# type(df['sepal length (cm)'])

pandas.core.series.Series

In [ ]:
# 加上 答案欄位
df["ans"] = iris["target"]
df

#ML 機器學習 千筆到萬筆
#DL 深度學習 萬筆到十萬筆
# 量 -> 取決於問題的複雜度

In [ ]:
# 將資料切成兩份 訓練組及驗證組 驗證模型參數合不合適
from sklearn.model_selection import train_test_split
# 進入sklearn以後, 我們就不要用df,
# 因為 df 資料會隨機切割
# 改用 numpy array
import numpy as np

y = np.array(df["ans"]) # 答案
# x -> 參數 y -> 答案

# 將 df 去除掉答案用 drop
# df.drop([所有要 drop 的欄位])
# pandas.drop ： https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html
# DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
# axis參數 ： 0 -> 橫 1 ->直的

# df.drop(['ans'], axis=1)  # 去除掉 ans直行
x = np.array(df.drop(['ans'], axis=1)) 
y

# sklearn.model_selection.train_test_split(*arrays, test_size=None, train_size=None, random_state=None, shuffle=True, stratify=None)

In [31]:
train_test_split([1, 2, 3, 4],
         [5, 6, 7, 8],       
         test_size=0.25       
          ) # 0.25 -> 四分之一作測試，四分之三做為訓練

[[2, 4, 3], [1], [6, 8, 7], [5]]

In [32]:
train_test_split([1, 2, 3, 4],
         [5, 6, 7, 8],
         [9, 10, 11, 12],       
         test_size=0.25       
          )

[[3, 4, 1], [2], [7, 8, 5], [6], [11, 12, 9], [10]]

In [47]:
# 90%x , 10%x , 90%y , 10%y 
# train_test_split(x, y, test_size=0.1)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1)


# numpy ： .shape   # 出來的結果
print(x_train.shape)   # (筆數, 多少欄位)
print(x_test.shape)
print(y_train.shape)   # 沒有欄位 因為是一維的
print(y_test.shape)

(135, 4)
(15, 4)
(135,)
(15,)